.stage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background: rgba(6, 6, 30, 0.3);
    overflow-y: scroll;
    z-index: 200;
}

.stageImage{
    display: block;
    margin: auto;
    max-width: 80vw;
    max-height: 70vh;
}