.stage {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 200;
}

.stageBg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(6, 6, 30, 0.8);
    cursor: pointer;
    z-index: -100;
}

.stageImage {
    position: relative;
    display: block;
    margin: 2rem auto 1rem;
    max-width: 80vw;
    max-height: 70vh;
    z-index: 210;
}

.stageTitleContainer {
    position: relative;
    font-family: ta-f1blockline, sans-serif;
    color: rgba(250, 250, 220, 1);
    display: block;
    width: 90vw;
    margin: 1rem auto;
    font-size: 2rem;
    text-align: center;
    z-index: 210;
}

.stageDescription {
    position: relative;
    font-family: noto-sans-cjk-jp, sans-serif;
    color: rgba(250, 250, 220, 1);
    display: block;
    width: 80vw;
    margin: 1rem auto;
    font-size: 1rem;
    text-align: center;
    z-index: 210;
    white-space: pre-wrap;
}

.stageTitle {
    display: inline-block;
    max-width: 60%;
}

.stageLinks {
    display: inline-block;
    font-family: ta-f1blockline, sans-serif;
    color: rgba(200, 100, 120, 1);
}

.stageLinksNext {
    float: left;
}

.stageLinksPrev {
    float: right;
}


@media screen and (max-width: 640px) {
    .stageLinks {
        font-size: 0.8rem;
    }
}